<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>Welcome to <%= name %></p>

    <% if(category_list.length){ %>
      <ul>
        <% category_list.forEach(category => { %>
        <li>
          <a href="<%= category.url %>"><%= category.name %></a>
          <small>( <%= category.description %> )</small>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>There are no books.</p>
      <% } %>
  </body>
</html>